nav a {
     display: inline-block;
     position: relative;
     color: #000;
     text-decoration: none;
     font-size: 1.1rem;
     margin: 10px;
}

nav a:after {
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: #CC9933;
     transform-origin: bottom right;
     transition: transform 0.28s ease-out;
}

nav a:hover:after {
     transform: scaleX(1);
     transform-origin: bottom left;
}