@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


@font-face {
  font-family: 'Plain Thin';
  src: url('../public/font/plainThin.otf');
}
@font-face {
  font-family: 'Saol Display regular';
  src: url('../public/font/saolDisplayRegular.ttf');
}
@font-face {
  font-family: 'Apercu';
  src: url('../public/font/apercuItalic.otf');
}
@font-face {
  font-family: 'KENOKY Light';
  src: url('../public/font/kenokyLight.ttf');
}
@font-face {
  font-family: 'Apercu';
  src: url('../public/font/apercuRegular.otf');
}