@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Plain Thin';
  src: url('../public/font/plainThin.otf');
}
@font-face {
  font-family: 'Saol Display regular';
  src: url('../public/font/saolDisplayRegular.ttf');
}
@font-face {
  font-family: 'Apercu';
  src: url('../public/font/apercuItalic.otf');
}